export(addtolist)
export(addtomatrix)
export(ci)
export(data.mme)
export(Fbetaf)
export(Fbetaf.ct)
export(Fbetaf.it)
export(initial.values)
export(mmedata)
export(model)
export(modelfit1)
export(modelfit2)
export(modelfit3)
export(mseb)
export(msef)
export(msef.ct)
export(msef.it)
export(omega)
export(phi.direct)
export(phi.direct.ct)
export(phi.direct.it)
export(phi.mult)
export(phi.mult.ct)
export(phi.mult.it)
export(prmu)
export(prmu.time)
export(sPhikf)
export(sPhikf.ct)
export(sPhikf.it)
export(wmatrix)
import(MASS)
import(Matrix)
import(mixstock)
S3method(print,mme)
